In [1]:
from datetime import datetime,date
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
from dateutil.relativedelta import relativedelta

In [2]:
style.use('ggplot')

In [3]:
today = datetime.today().strftime('%Y-%m-%d')
a_day_ago = datetime.today() - relativedelta(days=+1)
a_week_ago = datetime.today() - relativedelta(weeks=+1)
a_month_ago = datetime.today() - relativedelta(months=+1)
half_year_ago = datetime.today() - relativedelta(months=+6)
a_year_ago  = datetime.today() - relativedelta(years=+1)
five_years_ago  = datetime.today() - relativedelta(years=+5)

In [4]:
assets = ['TSLA', 'KO', 'AAPL', 'BNTX','MRNA','NFLX','AMZN','ADSK','MDLZ','GOOGL']

In [5]:
# Assign weight to stocks
weights = np.array([0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1])

In [6]:
df_a_day_ago = pd.DataFrame()
df_a_week_ago = pd.DataFrame()
df_a_month_ago = pd.DataFrame()
df_half_year_ago = pd.DataFrame()
df_a_year_ago = pd.DataFrame()
df_five_years_ago = pd.DataFrame()

In [7]:
import calendar
my_date = date.today()

if calendar.day_name[my_date.weekday()] == 'Saturday' or 'Sunday':
    a_day_ago = datetime.today() - relativedelta(days=+2)

In [8]:
for stock in assets:
    df_a_day_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_day_ago, end = today)['Adj Close']
    df_a_week_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_week_ago, end = today)['Adj Close']
    df_a_month_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_month_ago, end = today)['Adj Close']
    df_half_year_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=half_year_ago, end = today)['Adj Close']
    df_a_year_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_year_ago, end = today)['Adj Close']
    df_five_years_ago = web.DataReader(stock, data_source = 'yahoo', start=five_years_ago , end = today)['Adj Close']

In [9]:
df = pd.DataFrame(
    {'dfs':[df_a_day_ago, df_a_week_ago, df_a_month_ago, df_half_year_ago, df_a_year_ago, df_five_years_ago]
    },
    index = ['1 day ago','1 week ago','1 month ago','half year ago','1 year ago', '5 years ago'],)

In [10]:
# Show the daily simple return
returns = df_a_year_ago.pct_change()   # /(price(i+1)/price(i))-1
returns

,TSLA,KO,AAPL,BNTX,MRNA,NFLX,AMZN,ADSK,MDLZ,GOOGL
Date,,,,,,,,,,
2020-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-06,-0.029067,-0.026084,-0.013280,0.026131,0.057122,-0.010220,-0.011923,-0.057705,-0.021105,-0.014467
2020-03-09,-0.135725,-0.061527,-0.079092,-0.121029,-0.179669,-0.060926,-0.052854,-0.077096,-0.030902,-0.061702
2020-03-10,0.061398,0.034709,0.072022,0.014337,-0.080280,0.050911,0.050655,0.027679,0.017983,0.048841
2020-03-11,-0.017200,-0.027022,-0.034730,-0.052709,0.056849,-0.039025,-0.037509,-0.061284,-0.046804,-0.050401
...,...,...,...,...,...,...,...,...,...,...
2021-02-26,-0.009850,-0.023520,0.002232,-0.029378,0.043335,-0.014359,0.011700,-0.028272,-0.016284,0.002956
2021-03-01,0.063553,0.018575,0.053851,0.010823,0.016730,0.021880,0.017204,0.029964,0.009406,0.023616
2021-03-02,-0.044528,0.004008,-0.020894,-0.047455,-0.067281,-0.005121,-0.016404,-0.022338,0.000373,-0.002503
2021-03-03,-0.048424,-0.002395,-0.024457,-0.073633,-0.106192,-0.049505,-0.028932,-0.031016,-0.013785,-0.025706
2021-03-04,-0.048622,-0.000800,-0.015812,-0.021594,0.008230,-0.018072,-0.009128,-0.014333,0.019267,0.011196

In [11]:
df_a_year_ago.describe()

,TSLA,KO,AAPL,BNTX,MRNA,NFLX,AMZN,ADSK,MDLZ,GOOGL
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,401.540698,48.045544,104.043609,77.369722,83.965774,477.232619,2891.384556,237.695793,54.001391,1561.956113
std,236.158288,3.355982,23.859807,25.394747,41.412829,58.418370,463.761880,46.213803,3.503508,249.115430
min,72.244003,36.635704,55.661041,28.549999,21.299999,298.839996,1676.609985,136.000000,40.992168,1054.130005
25%,176.997002,45.577759,80.762436,52.877499,60.965000,437.249992,2481.849976,220.542503,51.142668,1418.192505
50%,401.675003,48.413248,112.726780,73.824997,70.134998,488.845001,3113.049927,239.584999,54.975025,1516.864990
75%,585.010010,50.162499,122.936295,100.432499,111.197498,520.725006,3205.317505,272.974998,57.040928,1746.194977
max,883.090027,54.862564,142.946396,129.539993,185.979996,586.340027,3531.449951,320.130005,58.711872,2118.620117

In [12]:
# Creat and show the annualized covariance matrix
cov_matrix_annual = returns.cov() * 252   # /(price(i+1)/price(i))-1
cov_matrix_annual

,TSLA,KO,AAPL,BNTX,MRNA,NFLX,AMZN,ADSK,MDLZ,GOOGL
TSLA,0.706156,0.079296,0.193606,-0.125504,0.020677,0.163315,0.151574,0.207891,0.107414,0.146165
KO,0.079296,0.116053,0.082375,0.113088,0.013878,0.034314,0.038619,0.096422,0.082388,0.077598
AAPL,0.193606,0.082375,0.207746,0.087550,0.010085,0.119290,0.124557,0.149067,0.096560,0.126456
BNTX,-0.125504,0.113088,0.087550,1.662381,0.508125,0.035688,0.068127,0.098104,0.100680,0.088077
MRNA,0.020677,0.013878,0.010085,0.508125,0.888971,-0.018551,0.001421,0.018098,0.007936,-0.015954
NFLX,0.163315,0.034314,0.119290,0.035688,-0.018551,0.237822,0.129370,0.108489,0.061693,0.100330
AMZN,0.151574,0.038619,0.124557,0.068127,0.001421,0.129370,0.143492,0.114215,0.058431,0.098770
ADSK,0.207891,0.096422,0.149067,0.098104,0.018098,0.108489,0.114215,0.256290,0.099046,0.137088
MDLZ,0.107414,0.082388,0.096560,0.100680,0.007936,0.061693,0.058431,0.099046,0.105297,0.084939
GOOGL,0.146165,0.077598,0.126456,0.088077,-0.015954,0.100330,0.098770,0.137088,0.084939,0.149700

In [13]:
# Calculate the portfolio variance
port_variance = np.dot(weights.T, np.dot(weights,cov_matrix_annual))
port_variance

0.12635517443956912

In [14]:
# Calculate the portfolio volatility aka standart deviaton

port_volatility = np.sqrt(port_variance)
port_volatility

0.3554647302329292

In [15]:
# Calculate the annual portfolio return
portfolioSimpleAnnualReturn = np.sum(returns.mean() * weights) * 252
portfolioSimpleAnnualReturn

0.8076578488929469

In [16]:
# Show the expected annual return, volatility
percent_var = str( round(port_variance,2) * 100) + '%'
percent_vola = str(round(port_volatility,2)*100) + '%'
percent_return  = str(round(portfolioSimpleAnnualReturn,2)* 100) + '%'

In [17]:
print('Expected annual return:' , percent_return)
print('Annual volatility /risk:', percent_vola)
print('Annual variance:', percent_var)

Expected annual return: 81.0%
Annual volatility /risk: 36.0%
Annual variance: 13.0%

In [18]:
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

In [19]:
#Portfolio Optimization

#Calculate the expected Returns and the annualised sample covariance matrix of asset returns
mu = expected_returns.mean_historical_return(df_a_year_ago)
S = risk_models.sample_cov(df_a_year_ago)

#Optimize for max sharpe ratio - it measures the performance of an investment compared to investments such as bonds or treasury bills
ef = EfficientFrontier(mu,S)
weights = ef.max_sharpe()

cleaned_weights = ef.clean_weights()
print(cleaned_weights)
ef.portfolio_performance(verbose = True)

OrderedDict([('TSLA', 0.52562), ('KO', 0.0), ('AAPL', 0.0), ('BNTX', 0.00373), ('MRNA', 0.47065), ('NFLX', 0.0), ('AMZN', 0.0), ('ADSK', 0.0), ('MDLZ', 0.0), ('GOOGL', 0.0)])
Expected annual return: 351.4%
Annual volatility: 63.5%
Sharpe Ratio: 5.50

(3.513662297540746, 0.6352617914434262, 5.499563085011823)

In [20]:
from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices

In [21]:
latest_prices = get_latest_prices(df_a_year_ago)
weights = cleaned_weights
da = DiscreteAllocation(weights, latest_prices, total_portfolio_value = 10000)

allocation, leftover = da.lp_portfolio()
print('Discrete allocation:', allocation)
print('Funds remaining: ${:.2f}'.format(leftover))

Discrete allocation: {'TSLA': 8, 'BNTX': 1, 'MRNA': 36}
Funds remaining: $170.53

In [22]:
#save a part of the dataframe (one year ago)
save_one_year_ago = df_a_year_ago

In [23]:
save_one_year_ago

,TSLA,KO,AAPL,BNTX,MRNA,NFLX,AMZN,ADSK,MDLZ,GOOGL
Date,,,,,,,,,,
2020-03-05,144.908005,54.862564,72.666725,37.119999,28.010000,372.779999,1924.030029,184.039993,55.588238,1314.760010
2020-03-06,140.695999,53.431538,71.701706,38.090000,29.610001,368.970001,1901.089966,173.419998,54.415073,1295.739990
2020-03-09,121.599998,50.144035,66.030655,33.480000,24.290001,346.489990,1800.609985,160.050003,52.733543,1215.790039
2020-03-10,129.065994,51.884476,70.786301,33.959999,22.340000,364.130005,1891.819946,164.479996,53.681850,1275.170044
2020-03-11,126.846001,50.482456,68.327858,32.169998,23.610001,349.920013,1820.859985,154.399994,51.169334,1210.900024
...,...,...,...,...,...,...,...,...,...,...
2021-02-26,675.500000,48.990002,121.260002,109.029999,154.809998,538.849976,3092.929932,276.000000,53.160000,2021.910034
2021-03-01,718.429993,49.900002,127.790001,110.209999,157.399994,550.640015,3146.139893,284.269989,53.660000,2069.659912
2021-03-02,686.440002,50.099998,125.120003,104.980003,146.809998,547.820007,3094.530029,277.920013,53.680000,2064.479980
2021-03-03,653.200012,49.980000,122.059998,97.250000,131.220001,520.700012,3005.000000,269.299988,52.939999,2011.410034
2021-03-04,621.440002,49.939999,120.129997,95.150002,132.300003,511.290009,2977.570068,265.440002,53.959999,2033.930054

In [24]:
from sqlalchemy import create_engine

In [25]:
#Create the connection using the imported create_engine function and then invoking the connect method on it
engine = create_engine('sqlite:///save_df_a_year_ago.db', echo=True)
sqlite_connection = engine.connect()

2021-03-05 12:32:38,883 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-05 12:32:38,883 INFO sqlalchemy.engine.base.Engine ()
2021-03-05 12:32:38,884 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-05 12:32:38,885 INFO sqlalchemy.engine.base.Engine ()

In [26]:
sqlite_table = "OneYearAgo"
save_one_year_ago.to_sql(sqlite_table, sqlite_connection, if_exists='append')

2021-03-05 12:32:38,893 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("OneYearAgo")
2021-03-05 12:32:38,894 INFO sqlalchemy.engine.base.Engine ()
2021-03-05 12:32:38,897 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-05 12:32:38,903 INFO sqlalchemy.engine.base.Engine INSERT INTO "OneYearAgo" ("Date", "TSLA", "KO", "AAPL", "BNTX", "MRNA", "NFLX", "AMZN", "ADSK", "MDLZ", "GOOGL") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-03-05 12:32:38,904 INFO sqlalchemy.engine.base.Engine (('2020-03-05 00:00:00.000000', 144.9080047607422, 54.86256408691406, 72.6667251586914, 37.119998931884766, 28.010000228881836, 372.7799987792969, 1924.030029296875, 184.0399932861328, 55.58823776245117, 1314.760009765625), ('2020-03-06 00:00:00.000000', 140.6959991455078, 53.43153762817383, 71.70170593261719, 38.09000015258789, 29.610000610351562, 368.9700012207031, 1901.0899658203125, 173.4199981689453, 54.41507339477539, 1295.739990234375), ('2020-03-09 00:00:00.000000', 121.5999984741211, 50.14403533935547, 66.03065490722656, 33.47999954223633, 24.290000915527344, 346.489990234375, 1800.6099853515625, 160.0500030517578, 52.733543395996094, 1215.7900390625), ('2020-03-10 00:00:00.000000', 129.0659942626953, 51.88447570800781, 70.78630065917969, 33.959999084472656, 22.34000015258789, 364.1300048828125, 1891.8199462890625, 164.47999572753906, 53.68185043334961, 1275.1700439453125), ('2020-03-11 00:00:00.000000', 126.84600067138672, 50.48245620727539, 68.3278579711914, 32.16999816894531, 23.610000610351562, 349.9200134277344, 1820.8599853515625, 154.39999389648438, 51.169334411621094, 1210.9000244140625), ('2020-03-12 00:00:00.000000', 112.11000061035156, 45.599552154541016, 61.58015823364258, 28.549999237060547, 22.299999237060547, 315.25, 1676.6099853515625, 136.0, 46.44736099243164, 1111.550048828125), ('2020-03-13 00:00:00.000000', 109.3239974975586, 47.277225494384766, 68.95796966552734, 30.93000030517578, 21.299999237060547, 336.29998779296875, 1785.0, 158.02999877929688, 49.781089782714844, 1214.27001953125), ('2020-03-16 00:00:00.000000', 89.01399993896484, 44.14621353149414, 60.08673095703125, 40.0, 26.489999771118164, 298.8399963378906, 1689.1500244140625, 148.0800018310547, 44.09126663208008, 1073.0)  ... displaying 10 of 252 total bound parameter sets ...  ('2021-03-03 00:00:00.000000', 653.2000122070312, 49.97999954223633, 122.05999755859375, 97.25, 131.22000122070312, 520.7000122070312, 3005.0, 269.29998779296875, 52.939998626708984, 2011.4100341796875), ('2021-03-04 00:00:00.000000', 621.4400024414062, 49.939998626708984, 120.12999725341797, 95.1500015258789, 132.3000030517578, 511.2900085449219, 2977.570068359375, 265.44000244140625, 53.959999084472656, 2033.9300537109375))
2021-03-05 12:32:38,908 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-05 12:32:38,915 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-03-05 12:32:38,915 INFO sqlalchemy.engine.base.Engine ()

In [30]:
sqlite_connection.close()

In [27]:
#pip install cvxpy

In [28]:
#pip install cvxopt

In [29]:
#Time
#schedule.every().day.at("15:30").do()
#schedule.every().day.at("22:00"do.()

#while True:
    #schedule.run_pending()
    #time.sleep(1)